body {
    background-image: url("../images/dhoni1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-decoration-style: solid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
}

div{
    color:white ;
    font-size: 15px;
    text-decoration-style: solid;
	margin: 15px;
    width: 90%;
}

h3{
    font-weight: bold;
    text-align: center;
}


footer {
    background-color: rgb(10, 172, 45);
    height: 65px;
    text-align: center;
    color: darkslategray;
    padding-top: 15px;
}